body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #484848;
  background-color: #f5f5f5; }

p {
  margin: 12px 0;
  font-size: 16px;
  line-height: 24px;
  color: #959595; }

h1 {
  margin: 0;
  font-size: 32px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 28px; }

a {
  color: #9f2183;
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

#page-area {
  margin: 0 auto;
  width: 950px; }

header {
  padding: 30px 0 40px 0; }

header img {
  margin-left: -3px; }

header h1 {
  margin-top: 30px; }

nav {
  float: left;
  margin-left: -12px;
  margin-right: 25px;
  width: 175px; }
  nav li {
    padding: 0 0 18px 12px; }
  nav li ul {
    margin-top: 3px;
    margin-left: -12px; }
  nav li li {
    padding: 0;
    font-size: 14px;
    line-height: 21px; }
  nav a {
    width: 100px; }
  nav a.selected {
    color: white;
    background-color: #636363; }

nav a, a.button {
  display: inline-block;
  margin-top: 3px;
  padding: 5px 12px 5px 12px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #d7d7d7; }

nav a:hover, a.button:hover {
  color: white;
  background-color: #743988; }

main {
  width: 750px;
  float: right; }

#banner {
  float: left;
  margin-right: 30px; }
  #banner iframe {
    border: none;
    background-color: #ececec; }

#restart {
  margin-top: 0; }

#switch {
  clear: left;
  padding-top: 30px; }

#dev {
  clear: both; }
